@font-face {
    font-family: robotics-original;
    src: url(nasalization-rg.otf);
}
* {
    font-family: robotics-original  ;
    margin: 0;
    padding: 0;
}


/* navbar starts here  */
nav {
    width: 100%;
    z-index: 3;
    display: grid;
    position: fixed;
    place-items: center;
}

.container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(212, 209, 205);
    margin-top:-160px;

}

.logo{
  width: 60px;
  height: 30%;
  margin-left: -30px;
  margin-top: 30px;


}

.logo img{
  margin-left: 130px;
  margin-top: -40px;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

/* navbar ends here */




.login{
    margin-left: 30%;
    margin-top: 100px;
  }
  
  .btn{
    margin: 25px;
    padding:10px;
    width: 150px;
    background-color: skyblue;
    border: 1px solid;
    cursor: pointer;
    transition: ease-in 0.4ms;
  }
  
  .btn:hover{
    background-color: aliceblue;
    scale: 0.9;
  }
  
  .inputBox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;
  }
 
  .logo{
        margin-left: 10px;
        width: 35px;
        margin-top: 2px;
        float: inline-start;
        float: left;
        border-radius: 50%;
  }